 #titleSection{
    width: 100%;
    background-image: url(https://media3.giphy.com/media/UtcBRO8cxulRzkrVLc/200.gif);
    background-size: 100% 100%;
    padding: 150px 50px;
    color: white;
    background-repeat: no-repeat;
}